<doctype HTML>
<html>
    <head>
        <title>login demo</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="row">

            <div class="col-sm-6">
                
                <form method="POST" action="/upload" enctype="multipart/form-data">
                    <input type="file"  name="file" required></input><br>
                    <input type="submit" value="upload"></input>
                </form>
            </div>

            <a href="/logOut">logout</a>

            <form method="POST" action="/delAccount">
                    delete account
                    <input type="text" name="password" placeholder="password" required></input><br>
                    <input type="submit" value="delete"></input>
            </form>
            </div>
        </div>

        <% for(let i = 0; i < images.length; i++){ %>
            <a href="images/<%- images[i].id %>"> <%- images[i].id %></a><br>
        <% } %>
    </body>
</html>